.navContainer {
    display: flex;
    flex-direction: row;
    background-color: rgb(20, 36, 88);
    font-family: "Lexend", sans-serif;
}

.navContainer .navImg {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navContainer .navImg .img {
    width: 25%;
}

.navContainer .navImg .moto {
    width: 30%;
    filter: drop-shadow(0px 0px 2px white);
    margin-left: 10%;
}

.navContainer .navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    font-size: 120%;
    padding: 2%;
    font-family: "Lexend", sans-serif;
}

.navContainer .navLinks .active {
    color: black;
    text-decoration: none;
    font-size: 120%;
    font-family: "Lexend", sans-serif;
    color: white;
}

.navContainer .navLinks .active:hover {
    color: rgb(255, 209, 4);
}